

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="menu-outline" size = "large" class="ion-margin"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" size = "large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <router-outlet *ngIf = "true"></router-outlet>




<!-- <ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->